bin/
obj/
docs/

# OS X
.DS_Store

# Xcode user data and build folders
xcuserdata
/source/DerivedData
/source/game/bundle

# vim tmp file(s)
*.swp

# sublime project files
*.sublime-*

# Windows project and build files
*.vcxproj.user
*.obj
*.sdf
*.opensdf
*.opendb
*.pdb
*.ipch
*.suo
*.tlog
*.log

# Windows folders
Debug/
Release/
packages/
